<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<link rel="shortcut icon" href="images/favicon1.ico" type="image/x-icon" />
<title>{title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="{description}">
<link rel="stylesheet" href="./style/style.css" type="text/css">
</head>
<body><a name="top"></a>

<table class="bodyTable">
<tr height="10%">
  <td>
  <table width="100%" cellpadding="0" cellspacing="0">
  <tr>
   <!-- <td><a href="http://test1.ru/" title="Сайт об электромобилях"><img src="./images/webmaster.gif" width="340" height="80" alt="Автомобильный информационный web-ресурс" /></a></td> -->
	<td align="center"><a href="http://test1.ru/" title="Сайт об электромобилях"><img src="./images/logo.gif" width="650" height="180" alt="" /></td>
  </tr>
  </table>
  </td>
</tr>
<tr height="5%">
  <td>
  {menu}
  </td>
</tr>
<tr height="80%" valign="top">
  <td>
  {content}
  </td>
</tr>
<tr height="5%">
  <td>
  <div align="center">
  
Copyright © Гончарова Е.К. - Автомобильный информационный web-ресурс. Копирование материалов допускается только с разрешения администрации.
  
  </div>
  </td>
</tr>
</table>

</body>
</html>